<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Find the average completion score of a particular faculty for all the courses</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
</head>
<body>
<table border="2">
	<tr>
		<td colspan="4">CourseId</td>
		<td colspan="4">Average Score</td>
	</tr>
</table>
{% for lines in ret %}
<table border="2">
	<tr>
		<td colspan="4">{{lines['Courseid']}}</td>
		<td colspan="4">{{lines['avg_score']}}</td>
	</tr>
</table>
{% end %}
<form method="get/post" action="/admin"><input type="submit" value="BACK"></form>
</body>
</html>