<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Course Searching result</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
</head>
<body>
    <table border="2">
    <tr>
        <td colspan="4">id</td>
        <td colspan="4">cid</td>
        <td colspan="4">status</td>
        <td colspan="4">mtl</td>
        <td colspan="4">type</td>
    </tr>
</table>
{% for lines in ret %}
<table border="2">
	<tr>
        <td colspan="4">{{lines['id']}}</td>
        <td colspan="4">{{lines['cid']}}</td>
		<td colspan="4">{{lines['status']}}</td>
        <td colspan="4">{{lines['mtl']}}</td>
		<td colspan="4">{{lines['type']}}</td>
	</tr>
</table>

{% end %}
<form method="get/post" action="/student"><input type="submit" value="BACK"></form>
</body>
</html>