<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
</head>
<body>
<div>
    <form method="post" action="/login">
    <p>userID<br><input type="text" name="ui"></p>
    <p>password<br><input type="password" name="pw"></p>
    <input type="submit" value="submit">
    </form>
</div>
<div>
    <form method="get/post" action="/register">
    Not a user? Register now
    <input type="submit" name="flag" value="Register">
    </form>
</div>

</body>
</html>