<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>faculty</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
</head>
<body>
<h1>Welcome Staff!</h1>
<form method="GET/POST" action="/certificate">
    Grant a certificate to an student       <input type="submit" value="submit">
</form>
<form method="GET/POST" action="/historyres">
    Account History       <input type="submit" value="submit">
</form>
<form method="GET" action="/login">
    log out       <input type="submit" value="submit">
</form>
</body>
</html>