<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Student Manupilation Page</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
</head>
<body>
<h1>Welcome Student!</h1>

<form method="GET/POST" action="/catogres">
    Get all my courses.        <input type="submit" value="submit">
</form>

<form method="GET/POST" action="/enroll">
    Enroll me in a course       <input type="submit" value="submit">
</form>

<form method="GET/POST" action="/ccomplete">
    Check if a course has been completed/Complete a material       <input type="submit" value="submit">
</form>

<form method="GET/POST" action="/list">
    List Materials Completion Situation       <input type="submit" value="submit">
</form>

<form method="GET/POST" action="/historyres">
    Account History       <input type="submit" value="submit">
</form>

<form method="GET" action="/login">
    log out       <input type="submit" value="submit">
</form>


</body>
</html>